/*底部菜单的样式*/
body,html{
	margin:0;
	padding:0;
  outline:0;
}
body {
	background-color: white;
	position:relative;
	top:0;
	left:0;
	width:100%;
	height:100%;
  overflow:hidden;
}
html{
	background-image: url("../img/htmlBackground.gif");
	background-size:30vw 30vw;
	background-repeat: no-repeat;
	background-position:center 0%;
}
#menu {
	position: fixed;
	left:0;
	bottom: 0;
	width: 100vw;
	height: 17vw;
	border-top: 1px solid black;
	background-color:white;
}
.mainMenu {
	width: 25vw;
	height: 15vw;
	float: left;
	text-align: center;
	margin-top: 2vw;
}
.mainMenu img {
	width: 7vw;
	height:7vw;
	margin: 0;
}
.mainMenu p {
	font-size: 3vw;
	font-weight: bolder;
	color: gray;
	margin-top:1vw;
}
#alert{
	position:absolute;
	bottom:20vw; 
	left:50vw;
	max-width:60vw;
	transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	font-size:3vw; 
	color:white; 
	background-color:rgba(0,0,0,0.7);
	border-radius:2vw;
	padding-left:3vw;
	padding-right:3vw;
	z-index:999;
}