body {
	overflow: hidden;
}
#register{
	width:100vw;
	height: 10vw;
	text-align: center;
	background-color: rgb(155, 223, 128);
	color: white;
	letter-spacing: 1vw;
	border-radius:2vw 2vw 0 0 ;
}
#registerTitle {
	font-size: 4vw;
	margin: 0;
	font-weight: inherit;
	letter-spacing: 2vw;
	padding-top:2vw;
}
#registerBox {
	width: 80vw;
	margin: 0 auto;
}
.registerPart {
	width: 57vw;
	height:10vw;
	margin: 0 auto;
	margin-top: 7vw;
}
img {
	width: 10vw;
	height: 10vw;
	margin-right: 5vw;
}
input {
	width: 40vw;
	height: 5vw;
	font-size: 3vw;
	border: 1px solid gray;
	outline: none;
	background-color: rgba(0,0,0,0);
	border-radius:4vw;
	text-align:center;
	margin-top:4vw;
	float:right;
}
input:hover{
	border: 1px solid rgb(48, 150, 7);
}
#selectBox {
	margin-left: 0;
	display: block;
	float: right;
}

#registerSubmitBox {
	width: 30vw;
	height: 8vw;
	margin: 0 auto;
	margin-top: 3vh;
}
#registerSubmit {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
	width: 30vw;
	height: 8vw;
	outline: none;
	font-family: "微软雅黑";
	font-size: 5vw;
	word-spacing: 5vw;
	background-color: rgb(155, 223, 128);
	color: white;
	border: 1px solid rgb(56, 190, 79);
	cursor: pointer;
	border-radius: 6vw;
	margin: 0 auto;
}
#registerSubmit:hover {
	background-color: rgb(155, 223, 128);
	border: 1px solid black;
}/*提交框的整体样式*/
#registerHint {
	color: red;
	text-align: center;
}
#alert{
	position:absolute;
	bottom:20vw; 
	left:50vw;
	max-width:60vw;
	transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	font-size:3vw; 
	color:white; 
	background-color:rgba(0,0,0,0.7);
	border-radius:2vw;
	padding-left:3vw;
	padding-right:3vw;
	z-index:999;
}