body {
	overflow: hidden;
}
#registerTitle {
	background-color: rgb(48, 150, 7);
	color: white;
	width: 100vw;
	padding-top: 3vh;
	padding-bottom: 3vh;
	margin-top: 0;
	font-size: 80px;
	text-align: center;
}
#registerBox {
	width: 80vw;
	margin: 0 auto;
}
.registerPart {
	width: 57vw;
	height:10vw;
	margin: 0 auto;
	margin-top: 7vw;
}
img {
	width: 10vw;
	height: 10vw;
	margin-right: 5vw;
}
input {
	width: 40vw;
	height: 5vw;
	font-size: 3vw;
	border: 1px solid gray;
	outline: none;
	background-color: rgba(0,0,0,0);
	border-radius:4vw;
	text-align:center;
	margin-top:4vw;
	float:right;
}
input:hover{
	border: 1px solid rgb(48, 150, 7);
}
#selectBox {
	margin-left: 0;
	display: block;
	float: right;
}

#registerSubmitBox {
	width: 30vw;
	height: 8vw;
	margin: 0 auto;
	margin-top: 3vh;
}
#registerSubmit {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
	width: 30vw;
	height: 8vw;
	outline: none;
	font-family: "微软雅黑";
	font-size: 5vw;
	word-spacing: 5vw;
	background-color: rgb(48, 150, 7);
	color: white;
	border: 1px solid rgb(48, 150, 7);
	cursor: pointer;
	border-radius: 6vw;
	margin: 0 auto;
}
#registerSubmit:hover {
	background-color: rgb(56, 190, 79);
	border: 1px solid black;
}/*提交框的整体样式*/
#registerHint {
	color: red;
	text-align: center;
}
