input[type="button"], input[type="submit"], input[type="reset"],input[type="text"] {
  -webkit-appearance: none;
}
input:focus, textarea:focus {
  outline: none;
}
input:focus{
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-user-modify:read-write-plaintext-only;
  }
input::-ms-clear {
  display: none;
}
textarea {
resize: none;
}