body {
	background-color: white;
	overflow:scroll;
}
/*标题部分*/
#spareScanfBox {
	width:100vw;
	height: 10vw;
	text-align: center;
	background-color: rgb(155, 223, 128);
	color: white;
	letter-spacing: 1vw;
	border-radius:2vw 2vw 0 0 ;
}/*标题框的样式*/
#spareScanfTitle {
	font-size: 4vw;
	margin: 0;
	font-weight: inherit;
	letter-spacing: 2vw;
	padding-top:2vw;
}
/*输入框的样式*/
#spareScanfControl {
	width: 95vw;
	height: 10vw;
	margin: 0 auto;
	margin-top:8vw;
	margin-bottom:2vw;
}
.spareScanfControlPart {
	width: 40vw;
	height: 8vw;
	font-size: 3vw;
	margin-top:0.5vh;
}
#weekDiv{
	width:50vw;
	height:10vw;
	float:right;
}
#weekLabel{
	font-size:3vw;
	margin-top:1.6vw;
	margin-right:4vw;
	float:left;
}
input {
	outline:none;
	font-size: 2.5vw;
	width: 28vw;
	height: 5.2vw;
	border: 2px solid rgb(155, 223, 128);
	border-radius:2vw;
}
select {
	font-size: 4vw;
	text-align: center;
	width: 28vw;
	height: 5vw;
	border: 2px solid rgb(155, 223, 128);
}
#spareScanfSearch {
	width: 20vw;
	height: 7vw;
	float:left;
	background-color:whitesmoke;
	border-radius:1vw;
}
#spareScanfSearchImg {
	width: 5vw;
	height: 5vw;
	float: left;
	margin-top:1vw;
	margin-left:3vw;
}
#spareScanfSearchText {
	font-size: 3vw;
	color: rgb(48, 150, 7);
	margin-top:2vw;
	margin-left:11vw;
}
#spareScanfHint{
	font-size:2vw;
	color:red;
	margin:0;
}
/*自由选择菜单*/
#SelfWeekSelect{
	width:95.2vw;
	height:20vw;
	margin: 0 auto;
	display:none;
}
#SelfWeekSelect img{
	width:5vw;
	height:20vw;
}
#left{
	float:left;
	margin-left:3vw;
	margin-right:2vw;
}
#right{
	float:right;
	margin-right:2.3vw;
}
#SelfWeekSelectButton{
	width:75.2vw;
	height:5vw;
	font-size:3vw;
	text-align:center;
	background-color:rgb(155, 223, 128);
	margin-top:1vw;
	margin:0 auto;
}
#selfWeekSelectBox{
	width:75.1vw;
	height:16vw;
	margin: 0 auto;
	overflow:hidden;
	float:left;
}
#SelfWeekSelectCheckbox{
	width:150vw;
	height:16vw;
}
.SelfWeekSelectCheckboxPart{
	width:25vw;
	height:5vw;
	float:left;
}
input[type="checkbox"]{
	width:3vw;
	height:3vw;
	margin-top:1vw;
	margin-left:2vw;
}
#SelfWeekSelectCheckbox label{
	font-size:3vw;
	margin-left:3vw;
}
/*主要内容部分*/
#container {
	width: 95vw;
	height: 70vw;
	margin: 0 auto;
	overflow: auto;
	padding-top:3vw;
}
#spareScanfTable {
	width:150vw;
	border: 1px solid black;
	font-size: 3vw;
	border-collapse: collapse;
	margin: 0 auto;
	margin-top: 4vw;
	white-space: nowrap;
}
tr {
	max-width: 75vw;
	max-height: 10vw;
	margin: 0;
	border: 1px solid black;
}
th {
	width: 25vw;
	height: 10vw;
	border: 1px solid black;
	background-color: rgb(115, 182, 94);
}
td {
	width: 25vw;
	height: 10vw;
	border: 1px solid black;
	background-color:rgb(155, 223, 128);
	padding: 0;
}
#help{
	font-size:4vw;
	color:rgb(48, 150, 7);
	margin:0;
}
#alert{
	position:absolute;
	bottom:20vw; 
	left:50vw;
	max-width:60vw;
	transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	font-size:3vw; 
	color:white; 
	background-color:rgba(0,0,0,0.7);
	border-radius:2vw;
	padding-left:3vw;
	padding-right:3vw;
	z-index:999;
}