body {
	background-color: white;
	overflow:scroll;
}
#spareBox {
	width:100vw;
	height: 10vw;
	text-align: center;
	background-color: rgb(155, 223, 128);
	color: white;
	letter-spacing: 1vw;
	border-radius:2vw 2vw 0 0 ;
}/*标题框的样式*/
#spareTitle {
	font-size: 4vw;
	margin: 0;
	font-weight: inherit;
	letter-spacing: 2vw;
	padding-top:2vw;
}
#spareControl {
	width: 98vw;
	height: 30vw;
	margin: 0 auto;
}
.spareControlPart {
	width: 40vw;
	height: 5vw;
	margin: 6vw 3vw 0 4vw;
	font-size: 3vw;
	float: left;
}
/*选择框样式*/
.week, .weekDay, .class, .department {
	display: inline-block;
	padding: 0;
	outline: 0;
}
.wx-input {
	-webkit-appearance:none; 
	outline:none;
	width: 40vw;
	height: 5vw !important;
	max-height: 5vw;
	position: relative;
	padding-left: 2vw;
	border-radius: 0;
	border: 3px solid rgb(155, 223, 128);
	text-align: left;
	font-size: 3vw;
	text-align:center;
	border-radius:3vw; 
}
.wx-input:hover{
	border: 3px solid rgb(48, 150, 7);
}
input::-ms-clear { 
display:none;
}
.dataBox {
	border: 1px solid rgb(48, 150, 7);
	font-size:3vw;
}
.dataList {
	width: 30vw;
	margin: 0;
	padding-bottom:4vw;
}
.datalist li :hover{
	background-color:whitesmoke;
}

#searchMenus{
	width:100%;
	height:10vw;
}
#spareSearch {
	width: 30vw;
	height: 10vw;
	float: right;
	margin-right:4vw;
	margin-top:2vw;
	background-color:whitesmoke;
	border-radius:1vw;
}
#spareSearchImg {
	width: 5vw;
	height: 5vw;
	float: left;
	margin-top:3vw;
	margin-left:2vw;
}
#spareSearchText {
	font-size: 4vw;
	color: rgb(48, 150, 7);
	margin-top:3vw;
	margin-left:12vw;
}
#personMenus {
	font-size: 4vw;
	margin-left:4vw;
	margin-top:4vw;
	float:left;
}
/*自由选择菜单*/
#SelfWeekSelect{
	width:95.2vw;
	height:20vw;
	margin: 0 auto;
	display:none;
}
#SelfWeekSelect img{
	width:5vw;
	height:20vw;
}
#left{
	float:left;
	margin-left:3vw;
	margin-right:2vw;
}
#right{
	float:right;
	margin-right:2.3vw;
}
#SelfWeekSelectButton{
	width:75.2vw;
	height:5vw;
	font-size:3vw;
	text-align:center;
	background-color:rgb(155, 223, 128);
	margin-top:1vw;
	margin:0 auto;
	display:none;
}
#selfWeekSelectBox{
	width:75.1vw;
	height:16vw;
	margin: 0 auto;
	overflow:auto;
	float:left;
}
#SelfWeekSelectCheckbox{
	width:150vw;
	height:16vw;
}
.SelfWeekSelectCheckboxPart{
	width:25vw;
	height:5vw;
	float:left;
}
input[type="checkbox"]{
	width:3vw;
	height:3vw;
	margin-top:1vw;
	margin-left:2vw;
}
#SelfWeekSelectCheckbox label{
	font-size:3vw;
	margin-left:3vw;
}
/*主要内容部分*/
#container {
	width: 95vw;
	height: 70vw;
	margin: 0 auto;
	overflow: auto;
	border-top: 3px solid rgb(48, 150, 7);
	padding-top: 6vw;
	border-bottom:3px solid rgb(155, 223, 128);
}
#addressBookTable {
	border: 1px solid black;
	font-size: 5vw;
	border-collapse: collapse;
	margin: 0 auto;
}
tr {
	max-width: 75vw;
	max-height: 6vw;
	margin: 0;
	border: 1px solid black;
	background-color:whitesmoke;	
}
tr:hover{
	background-color:rgb(165, 250, 132);
}
th {
	width: 25vw;
	height: 6vw;
	border: 1px solid black;
	background-color:rgb(117, 223, 76);
	font-weight:inherit;
}
td {
	width: 25vw;
	height: 6vw;
	border: 1px solid black;
	padding: 0;
}
/*底部菜单的样式*/
#menu {
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 15vw;
	border-top: 1px solid black;
	background-color:white;
}
.mainMenu {
	width: 25vw;
	height: 15vw;
	float: left;
	text-align: center;
	margin-top: 2vw;
}
.mainMenu img {
	width: 7vw;
	height:7vw;
	margin: 0;
}
.mainMenu p {
	font-size: 3vw;
	font-weight: bolder;
	color: gray;
	margin-top:1vw;
}
#spareMenu p{
	color:rgb(48, 150, 7);
}
#alert{
	position:absolute;
	bottom:20vw; 
	left:50vw;
	max-width:60vw;
	transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	font-size:3vw; 
	color:white; 
	background-color:rgba(0,0,0,0.7);
	border-radius:2vw;
	padding-left:3vw;
	padding-right:3vw;
	z-index:999;
}