/*手机端的样式*/
body {
	background-image: url("../img/indexBackground.png");
	background-size: 100% 70vw;
	background-repeat: no-repeat;
	background-color: white;
	overflow: scroll;
	
}/*设置背景的样式*//*rgb(98, 189, 42)*/
#imageTitle {
	width: 50vw;
	height: 60vw;
	text-align: center;
}
#backgroundBox {
	width: 50vw;
	height: 70vw;
	margin: 0 auto;
}
#registerContainer {
	margin-top: 0;
}
#headTitle {
	font-size: 8vw;
	color: rgb(48, 150, 7);
	font-weight: 900;
	font-family: "宋体";
	text-align: center;
}/*设置标题的样式*/
#titlePicture {
	width: 20vw;
	height: 20vw;
	margin-top: 8vw;
}/*设置用户头像的样式*/
#register {
	margin: 0 auto;
	width: 70vw;
	height: 60vw;
	font-family: "微软雅黑";
	font-size: 4vw;
	background-color: white;
	color: black;
	text-align: center;
}/*设置表单主题的格式*/
#user {
	width: 65vw;
	margin: 0 auto;
	margin-top: 8vw;
}/*用户输入框的样式*/
#password {
	width: 65vw;
	margin: 0 auto;
	margin-top: 4vw;
}/*密码输入框的样式*/
input[type="text"] {
	outline:none;
	width: 45vw;
	height: 5vw;
	border: 1px solid gray;
	font-size: 3vw;
	border-radius:4vw;
	text-align:center;
}/*设置输入框的格式*/
input[type="text"]:hover {
	border: 1px solid rgb(48, 150, 7);
}
input[type="password"] {
	outline:none;
	width: 45vw;
	height: 5vw;
	border: 1px solid gray;
	font-size: 3vw;
	border-radius:4vw;
	text-align:center;
}/*设置输入框的格式*/
input[type="password"]:hover {
	border: 1px solid rgb(48, 150, 7);

}
#findbackPassword {
	font-size: 3vw;
	cursor: pointer;
}
#registerSubmit {
	width: 25vw;
	height: 7vw;
	outline: none;
	font-family: "微软雅黑";
	font-size: 4vw;
	word-spacing: 20px;
	background-color: rgb(48, 150, 7);
	color: white;
	border: 1px solid rgb(48, 150, 7);
	cursor: pointer;
	border-radius:4vw;
}
#registerSubmit:hover {
	background-color: rgb(131, 194, 106);
	border: 1px solid rgb(131, 194, 106);
}/*提交框的整体样式*/
#registerMessage {
	width: 25vw;
	height: 7vw;
	outline: none;
	font-family: "微软雅黑";
	font-size: 4vw;
	word-spacing: 20px;
	background-color: rgb(48, 150, 7);
	color: white;
	border: 1px solid rgb(48, 150, 7);
	cursor: pointer;
	margin-left: 6vw;
	border-radius: 4vw;
}
#registerMessage:hover {
	background-color: rgb(131, 194, 106);
	border: 1px solid rgb(131, 194, 106);
}
#registerHint {
	margin: 0;
	display: inline-block;
	font-size: 1vw;
	color: red;
}/*提示文字的样式*/
#blackBox{
	width:100vw;
	height:100vh;
	background-color:rgba(0,0,0,0.5);
	z-index: 1;
	position:absolute;
	top:0;
	left:0;
	display:none;
}
#amendBox{
	width:80vw;
	height:70vw;
	position:absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	background-color:rgb(11, 153, 219);
	z-index:2;
	border-radius:10vw;
	display:none;
}
#amendBox p{
	font-size:4vw;
	font-weight:bold;
	margin-top:5vw;
	margin-left:8vw;
	color:white;
	display:inline-block;
}
#close{
	font-size:4vmin;
	float:right;
	margin-top:5vw;
	margin-right:8vw;
	color:white;
}
#messageBox{
	width:70vw;
	height:50vw;
	background-color:white;
	border-radius:2vw;
	margin:0 auto;
}
.fromPart {
	width: 70vw;
	height: 5vw;
	padding: 5vw 4vw 0 4vw;
	font-size: 3vw;
	border-radius:3vw;
}
.fromPart label{
	font-size:4vw;
}
.fromPart input {
	outline:none;
	font-size: 4vw;
	text-align: center;
	width: 50vw;
	height: 5vw;
	border: 1px solid gray;
	border-radius:4vw;
}
.fromPart input:hover {
	border:1px solid rgb(11, 153, 219);

}
#reserve{
	width: 20vw;
	height: 7vw;
	outline: none;
	font-family: "微软雅黑";
	font-size: 4vw;
	word-spacing: 20px;
	background-color: rgb(11, 153, 219);
	color: white;
	border: 1px solid rgb(11, 153, 219);
	cursor: pointer;
	margin-top:7vw;
	margin-left:10vw;
	border-radius:4vw;
}
#reserve:hover {
	background-color: rgb(84, 165, 202);
	border: 1px solid rgb(84, 165, 202);
}
#closes{
	width: 20vw;
	height: 7vw;
	outline: none;
	font-family: "微软雅黑";
	font-size: 4vw;
	word-spacing: 20px;
	background-color: rgb(11, 153, 219);
	color: white;
	border: 1px solid rgb(11, 153, 219);
	cursor: pointer;
	margin-top:7vw;
	margin-left:10vw;
	border-radius:4vw;

}
#closes:hover {
	background-color: rgb(84, 165, 202);
	border: 1px solid rgb(84, 165, 202);
}
#alert{
	position:absolute;
	bottom:20vw; 
	left:50vw;
	max-width:60vw;
	transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	font-size:3vw; 
	color:white; 
	background-color:rgba(0,0,0,0.7);
	border-radius:2vw;
	padding-left:3vw;
	padding-right:3vw;
	z-index:999;
}