body {
	background-color: white;
	overflow:scroll;
}
/*标题部分*/
#titleBox {
	width:100vw;
	height: 10vw;
	text-align: center;
	background-color: rgb(155, 223, 128);
	color: white;
	letter-spacing: 1vw;
	border-radius:2vw 2vw 0 0 ;
}/*标题框的样式*/
#messageTitle {
	font-size: 4vw;
	margin: 0;
	font-weight: inherit;
	letter-spacing: 2vw;
	padding-top:2vw;
}
#picture {
	display: none;
}/*在手机端隐藏*/
/*没课表录入的入口*/
#spareBox {
	width: 100%;
	height: 14vw;
	padding-top:3vw;
	padding-bottom:1vw;
	border-bottom: 4px solid rgb(48, 150, 7);
}

#spareEnter {
	width:35vw;
	height:10vw;
	margin-top:1vw;
	cursor: pointer;
	display: block;
	float: left;
	background-color:whitesmoke;
	border-radius:1vw;
	margin-left:2vw;
}
#spareImg {
	width: 7vw;
	height: 7vw;
	float: left;
	margin-top:2vw;
	margin-left:2vw;
}
#spareText {
	font-size: 3vw;
	color: rgb(48, 150, 7);
	float: left;
  margin-left:2vw;
	margin-top:3.6vw;
	font-weight: bolder;
}
#spareButton {
	width:20vw;
	height:10vw;
	cursor: pointer;
	display: block;
	float: right;
	margin-top:1vw;
	margin-right: 6vw;
	border-radius:1vw;
}
#alterImg {
	margin-top: 3vw;
	margin-left:2vw;
	width: 5vw;
	height: 5vw;
	float: left;
}
#alterText {
	font-size: 3vw;
	color: rgb(48, 150, 7);
	float: left;
	margin-left:2vw;
	margin-top:3.7vw;
}
/*主要内容部分*/
#container {
	width: 95vw;
	height: 100vw;
	margin: 0 auto;
	overflow: auto;
	padding-top:3vw;
	background-color:white;
	border-bottom:3px solid rgb(155, 223, 128);

}
#containerLeft {
	width: 99vw;
	height: 18vw;
	display: inline-block;
	margin: 0 auto;
}
#containerRight {
	width: 99vw;
	height: 45vw;
	display: inline-block;
	margin: 0 auto;
}
label {
	font-size: 3vw;
}
.fromPart {
	width: 42vw;
	height: 5vw;
	margin-left: 2vw;
	margin-bottom: 4vw;
	font-size: 3vw;
}
#containerLeft .fromPart {
	float: left;
}
#containerRight .fromPart {
	width: 84vw;
}
input {
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	font-size: 4vw;
	text-align: center;
	vertical-align:middle ;
	width: 28vw;
	height: 5vw;
	border: 1px solid rgb(48, 150, 7);
	border-radius:1vw;
	border: none;
	padding:0;
}
#containerRight input {
	width: 60vw;
}
textarea {
	outline:none;
	width: 90vw;
	height: 20vw;
	padding: 2vw;
	font-size: 3vw;
	color: rgb(48, 150, 7);
	font-family: "微软雅黑";
	margin-top: 1vw;
	border-radius:4vw;
	border:none;
}
textarea::placeholder {
 font-size:3vw;
 color:rgb(48, 150, 7);
}
/*底部菜单的样式*/
#menu {
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 15vw;
	border-top: 1px solid black;
	background-color:white;
}
.mainMenu {
	width: 25vw;
	height: 15vw;
	float: left;
	text-align: center;
	margin-top: 2vw;
}
.mainMenu img {
	width: 7vw;
	height:7vw;
	margin: 0;
}
.mainMenu p {
	font-size: 3vw;
	font-weight: bolder;
	color: gray;
	margin-top:1vw;
}
#presonMessageMenu p{
	color:rgb(48, 150, 7);
}
#hint {
	font-size: 2vw;
	color: red;
	text-align: center;
	display: none;
}
#callback {
	position: absolute;
	left: 2vw;
	top: 2vw;
	width: 10vw;
	height:8vw;
	display: none;
}
#alert{
	position:absolute;
	bottom:20vw; 
	left:50vw;
	max-width:60vw;
	transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	font-size:3vw; 
	color:white; 
	background-color:rgba(0,0,0,0.7);
	border-radius:2vw;
	padding-left:3vw;
	padding-right:3vw;
	z-index:999;
}